@charset "utf-8";
/* ----------------------------------------------------------------------------
					 	Silky Admin Template
							   by Jeff Adams
							   
							   ADMIN (LOGIN) STYLING
-------------------------------------------------------------------------- */
body					{ background-color: #DDD; margin: 50px 0 50px 0; padding: 0; font-family: Arial, Helvetica, sans-serif;}
.png_bg		{}
#admin_wrapper 		{ background-color: #FFFFFF; width: 400px; margin: 0px auto 0px auto; padding: 15px 20px 15px 20px; border: 5px solid #CCC;}
#admin_wrapper h1 	{font-size:20px; padding: 3px 0 3px 0px; margin: 0px;}

.success, .fail, .information, .attention {
	margin-top: 8px; margin-bottom: 8px;
	background-repeat: no-repeat; background-position: 10px center;
	padding: 10px 10px 10px 40px;
	height: 15px;
	font-weight: bold; text-transform: uppercase; font-size: 11px;
	line-height: 15px;
	
}

/* Succes Notification Box */
.success 				{
	background-color: #E3FFDF;
	border: 1px solid #97FF88;
	color: #009900;
	background-image: url(../images/accept.png);
}
/* Failure Notification Box */
.fail 					{
	background-color: #FFE1E1;
	border: 1px solid #FF9595;
	color: #CC3300;
	background-image: url(../images/cancel.png);
}
/* Information Notification Box */
.information 			{
	background-color: #D7DFFF;
	border: 1px solid #93A8FF;
	color: #0033FF;
	background-image: url(../images/information.png);
}
/* Attention Notification Box */
.attention 		{ background-color: #FFFBCC; border: 1px solid #FFF35E;color: #C69E00; background-image: url(../images/error.png);}

/* Notification Close Button */
.close-notification					{
	width: 16px; height: 16px;
	position: absolute;
	background: url(../images/close.png) no-repeat;
	top: 5px; right: 5px;
	cursor: pointer;
}

label{


color:#2CA7A3;
text-align:left;

}


/*----  FORMS ---- */


form p 			{ padding: 10px; margin: 0px; }

form .input{
	padding: 7px;
    float: right;
	
	width: 170px;
    font-size:14px;
    font-family: Arial, helvetica;
    outline:none;
    transition: all 0.75s ease-in-out;
    -webkit-transition: all 0.75s ease-in-out;
    -moz-transition: all 0.75s ease-in-out;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border:1px solid rgba(0,0,0, 0.2);
    color:gray;
    background-color:#eee;
   
}
 
form .input:focus {
	padding: 7px;
	float: right;
	font-size:14px;

	padding-bottom: 10px;
	width: 170px;
    box-shadow: 0 0 5px #aaa;
    -webkit-box-shadow: 0 0 5px #aaa;
    -moz-box-shadow: 0 0 5px #aaa;
    border:1px solid #999;
    background-color:white;
}

form .select { 
	margin-left: -50px;
	margin-bottom: 20px;

    font-size:15px;
    font-family: Arial, helvetica;
    outline:none;
      
    
    border-radius:6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border:1px solid rgba(0,0,0, 0.2);
    color:#696969;
    background-color:white;
}

form .select:focus {

		margin-left: -50px;
	margin-bottom: 20px;


    border:1px solid #999;
    background-color:white;
}

form .button {
   margin: -2px 2px 2px 2px;
	-moz-box-shadow:inset -5px 0px 5px -40px #ffffff;
	-webkit-box-shadow:inset -5px 0px 5px -40px #ffffff;
	box-shadow:inset -5px 0px 5px -40px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #469399), color-stop(1, #08d7f2) );
	background:-moz-linear-gradient( center top, #469399 5%, #08d7f2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#469399', endColorstr='#08d7f2');
	background-color:#469399;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #1d5769;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:8px 35px;
	text-decoration:none;
	text-shadow:-1px 3px 6px #2b8fb3;
}form .button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #08d7f2), color-stop(1, #469399) );
	background:-moz-linear-gradient( center top, #08d7f2 5%, #469399 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#08d7f2', endColorstr='#469399');
	background-color:#08d7f2;
}form .button:active {
	position:relative;
	top:1px;
}


input:focus, textarea:focus		{
				 background-color: #FFFFE1;
				 border: 1px solid #999999;
}
