@charset "utf-8";
/* -------------------------------------------------------------------
					 	Silky Admin Template
							   by Jeff Adams
-------------------------------------------------------------------- */


/* -------------------------------------------------------------------
					 THEME FILE
-------------------------------------------------------------------- */

#header					{ background-color: #AC205F;}

#nav a 					{ color: #FFFFFF; background-color: #E44C90;}

/* Navigation Hover Styles */	
#head_wrap #nav a:hover	{
	background-color: #AC205F;
}

#sub_nav_wrap			{ background-color: #FFFFFF; }
#primary_content a, 
#footer a 				{ color: #AC205F;}

#sidebar h3 				{ background-color: #F7C8DD; border: 1px solid #F1A5C7;}
#sidebar a 				{ color: #AC205F; font-size: 14px; font-weight: bold;}
#sidebar a:hover			{ color: #7D1745; }

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
						 background-color: #F7C8DD;
						 border: 1px solid #F1A5C7;
						 font-size: 9pt;
						 padding: 7px;
						 text-align: left;
}
