@charset "utf-8";
/* -------------------------------------------------------------------
					 	Silky Admin Template
							   by Jeff Adams
-------------------------------------------------------------------- */


/* -------------------------------------------------------------------
					 THEME FILE
-------------------------------------------------------------------- */

#header	{
	background-color: #333333;
}

#nav a 			{
	color: #FFFFFF;
	background-color: #4A4A4A;
}

/* Navigation Hover Styles */	
#head_wrap #nav a:hover	
				{
	background-color: #999999;
}
		
#sub_nav_wrap	{ background-color: #FFFFFF; }
#primary_content a, 
#footer a 		{ color: #3C8DDF;
}
#sidebar h3 		{
	background-color: #CCCCCC;
	border: 1px solid #BBBBBB;
}
#sidebar a 		{
	color: #666666;
	font-size: 14px;
	font-weight: bold;
}
#sidebar a:hover	{
	color: #333333;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #CCCCCC;
	border: 1px solid #CCCCCC;
	font-size: 9pt;
	padding: 7px;
	text-align: left;
}
